.signin-area{
    background-color: #2125299c;
    padding-bottom: 40px;
}
.sign-in-link{
    display: block;
    color: blueviolet;
    padding: 10px 20px !important;
}
.sign-in-btn{
    margin: 10px 0;
}
.signin-area button{
    background-color: #3B3C35;
    transition: 0.5s;
}
.signin-area button:hover{
    background-color: #212529;
    color: #0A58CA;
}
.sign-in-link span{
    color: blue;
}