.rej-area{
    background-color: #2125299c;
}
.sign-up-link{
    display: block;
    color: blue;
    padding: 10px 20px !important;
}
.sign-up-btn{
    margin-top: 10px;
}
.or-Style{
    display: block;
    background-color: darkgray;
    margin: 20px 0;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}
.sign-up-link span{
    color: blue;
}
.rej-area button{
    background-color: #3B3C35;
    transition: 0.5s;
}
.rej-area button:hover{
    background-color: #212529;
    color: #0A58CA;
}